dj-database-url==0.5.0
Django==3.2.14
django-cors-headers==3.11.0
django-filter==22.1
django-graphql-jwt==0.3.4
django-storages==1.12.3
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
promise==2.3
psycopg2-binary==2.9.6
PyJWT==2.6.0
pylint==2.15.4
pylint-celery==0.3
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-dotenv==0.20.0